extends layout 

block content
    h1= #{name}
    h2 About me
    p My name is #{name}, I would say that i am #{quality} even if a number of persons disagrees. I loveee #{like} so it makes sense that my favorite place to be is at the #{place}.
